.top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calender{
  /* width: 90%; */
  min-width: 30vmin;
  margin: 50px;
}

.CalBtn{
  background-color:rgba(71, 255, 194, 0.486);
    height: 100%;
    font-size: 0.8em;
    color:rgb(251, 251, 251);
    border: solid 0.1em aquamarine;
    border-radius: 0em 0em 1em 1em;
    padding-top: 1.8em;
}

.CalBtn:hover{
  background-color: darkturquoise;
}


