.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.year-month{
  font-size: 35px;
}
.nav{
  display: flex;
  border: 1px solid #333333;
  border-radius: 5px;
}


