.days{
    display: flex;
    margin: 25px 0 10px;
}
.day{
    width: calc(100%/7);
    text-align: center;
}
.dates{
    display: flex;
    flex-flow: row wrap;
    height: 500px;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
}
.date{
    width: calc(100% / 7);
    text-align: right;
    padding: 15px;
    border-left: 1px solid #333333;
    border-bottom: 1px solid #333333;
}
.days :nth-child(7n),
.dates div:nth-child(7n){
    color: blue;
}

.days :nth-child(7n + 1),
.dates div:nth-child(7n + 1) {
  color: red;
}

.other{
    opacity: 0.3;
}
.today{
    position: relative;
    color: #FFFFFF;
}
.today::before{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 30px;
    height: 30px;
    background-color: #FF0000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: '';
}