.target_journals {
    background-color: rgba(97, 170, 245, 0.3);
    border-top: solid yellowgreen;
    border-radius: 0.7em;
    transition: 0.5s;
}
.target_journals:hover{
    background-color: rgba(133, 191, 248, 0.5);
    transition: 0.2s;
}

.jn_title{
    background-color: rgba(127, 251, 11, 0.5);
    border-radius: 1em;
}
.jn_info{
    display: grid;
}
.jn_cate{
    grid-row: 1;
    grid-column: 1;
    font-size: 0.8em;
    background-color: salmon;
    margin-left: 0.5em;
    border-radius: 0 0 1em 1em;
}
.jn_date{
    grid-row: 1;
    grid-column: 2;
    font-size: 0.5em;
}
.jn_nick{
    grid-row: 1;
    grid-column: 3;
    border-radius: 0 0 0.5em 0.5em;
}
.jn_del{
    grid-row: 1;
    grid-column: 4;
    font-size: 0.8em;
    border-radius: 0 0 1em 1em;
    float:right;
    margin-right: 0.5em;
    border: 0;
    color:whitesmoke;
    background-color: rgba(245, 105, 105, 0.5);
    height: 1.5em;
}
.jn_del:hover{
    background-color: rgba(243, 149, 25, 0.534);
}