.TopMenuBtn {
    background-color:deepskyblue;
    height: 1.5em;
    font-size: 1em;
    color:darkblue;
    border-top: 0;
    border-bottom: 0;
    border-left: solid 0.1em aquamarine;
    border-right: solid 0.1em aquamarine;
    border-radius: 0 0 1em 1em;
    padding-top: 0.2em;
    transition: 0.5s;
}

.TopMenuBtn:hover {
    background-color: darkturquoise;
    transition: 0.2;
  }

.TopMenuBar {
    position: fixed;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;
    /*background-color:rgba(100, 149, 237, 0.8);*/
}