<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src ="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src ="https://code.jquery.com/jquery-migrate-3.3.2.js"></script>
    <script>
        $(document).ready(function()
        {
            $("#join").on("click", function()
            {   
                    let j = {id:"id2", pw:"pw2", nickname:"nickname2"};
                    let d = JSON.stringify(j);
                    $.ajax({
                        type: 'POST',
                        contentType: 'application/json',
                        data: d,
                        url: '/api/auth/join',
                        success: function (e)
                        {
                            console.log(e);

                        },
                        error: function(error)
                        {
                            console.log(error);
                        }
                    
                    });
            })
        });
        $(document).ready(function()
        {
            $("#withdraw").on("click", function()
            {   
                    let j = {id:"id2", pw:"pw2", nickname:"nickname2"};
                    let d = JSON.stringify(j);
                    $.ajax({
                        type: 'POST',
                        contentType: 'application/json',
                        data: d,
                        url: '/api/auth/withdraw',
                        success: function (e)
                        {
                            console.log(e);

                        },
                        error: function(error)
                        {
                            console.log(error);
                        }
                    
                    });
            })
        });
        $(document).ready(function()
        {
            $("#login").on("click", function()
            {   
                    let j = {id:"id2", pw:"pw2"};
                    let d = JSON.stringify(j);
                    $.ajax({
                        type: 'POST',
                        contentType: 'application/json',
                        data: d,
                        url: '/api/auth/login',
                        success: function (e)
                        {
                            console.log(e);

                        },
                        error: function(error)
                        {
                            console.log(error);
                        }
                    
                    });
            })
        });
        $(document).ready(function()
        {
            $("#logout").on("click", function()
            {   
                    let j = {id:"id2", pw:"pw2"};
                    let d = JSON.stringify(j);
                    $.ajax({
                        type: 'GET',
                        contentType: 'application/json',
                        data: d,
                        url: '/api/auth/logout',
                        success: function (e)
                        {
                            console.log(e);

                        },
                        error: function(error)
                        {
                            console.log(error);
                        }
                    
                    });
            })
        });
    </script>
</head>
<body>
    <button id= "join">회원가입</button>
    <button id= "withdraw">회원탈퇴</button>
    <button id= "login">로그인</button>
    <button id= "logout">로그아웃</button>
</body>
</html>